<!DOCTYPE html>
<html>
    <head>
        <title>My Portfolio</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg sticky-top custom-navbar">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">Portfolio</a>
                <a class="nav-link text-white" href="/profile/">Profile</a>
                <button onclick="toggleDark()" class="btn btn-secondary btn-sm ms-auto">🌙</button>
            </div>
        </nav>


        <div class="hero-section text-center text-white">
          <div class="container">
            <h1 class="display-4">this is my portfolio</h1>
            <p class="lead"> iam python developer </p>
          </div>
          <div>
           
            <div class="container mt-4">           
            {% block content %}
            {% endblock %}
        </div>
        <script>
        function toggleDark() {
            const isDark = document.body.classList.toggle("bg-dark");
            document.body.classList.toggle("text-light");

            const navbar = document.querySelector(".navbar");
            navbar.classList.toggle("navbar-dark");
            navbar.classList.toggle("navbar-light");
            navbar.classList.toggle("bg-dark");
            navbar.classList.toggle("bg-light");

            const btn = document.querySelector(".btn");
            btn.textContent = isDark ? "☀️" : "🌙";

            localStorage.setItem("darkMode", isDark);
        }


        if (localStorage.getItem("darkMode") === "true") {
            toggleDark();
        }
        </script>


    </body>
</html>

